.cssAnim1 {
    border: 1px solid black;
    width: 300px;
    height: 450px;
    display: inline-block;
    overflow: hidden;
}

.cssAnim1 img {
    width: 100%;
    transition: all .3s linear;
}

.imgScale img {
    transform: scale(1.5);
}

.box {
    width: 300px;
    height: 200px;
    background-color: antiquewhite;
    color: skyblue;
}


a {
    text-decoration: underline;
    color: red;
}

a:hover {
    text-decoration: none;

}

.ttpShow {
    display: none;
}

#ttpPanel {
    padding: 15px;
    width: 200px;
    text-align: left;
    border: 3px solid #ccc;
    position: absolute;
    z-index: 99;
    background-color: white;
    display: none;
}

img{
    width:100px;
    height: 200px;
}